.page-banner {
    height:205px;
    background:url(../images/banner.jpg);
}
.about-page {
	margin-top: 111px;

}
.about-text1 {
    color: #102e44;
    padding-top: 56px;
    font-size: 20px;
    letter-spacing: -0.3px;

}
.about-text2 {
    font-size: 20px;
    letter-spacing: -0.3px;
}
.banner-text {
	padding: 70px 0;
    text-align: center;
	font-weight:700;
	font-family: 'arialregular';
	font-size:41px;
	color:#ffab31;
    text-shadow: -1px 5px 5px rgba(0, 0, 0, 0.20);
    margin:0;
}

.about-img {
	width:auto;
    position: relative;
    left: 20px;
    max-width:100%;
    height:auto;
}
@media (min-width:1200px){
    .page-banner{
        margin-top: 120px;
    }
}