.pricing{
	padding-bottom: 100px;
	border-bottom: 1px solid #e3e3e3;
}
.pricing-title{
	background: url('../images/work-background.png') no-repeat scroll center top;
    background-size: cover;
    padding: 60px 0;
    margin-bottom: 85px;
}
.pricing-title h1 {
    color: #fdaa41;
    font-family: 'MyriadPro-Bold',sans-serif;
    font-weight: 700;
    font-size: 48px;
    text-align: center;
    /*margin-top: 100px;*/
    /*margin-left: -15px;*/
    text-shadow: -1px 5px 5px rgba(0, 0, 0, 0.20);
}
@media (min-width:1200px){
    .pricing-title{
        margin-top: 120px;
    }
}