.works{
	border-bottom: 1px solid #cccccc;
}
.work-title{
	background: url('../images/work-background.png') no-repeat scroll center top;
    background-size: cover;
    padding: 60px 0;
    margin-bottom: 85px;
}
.work-title h1 {
    color: #fdaa41;
    font-family: 'MyriadPro-Bold',sans-serif;
    font-weight: 700;
    font-size: 48px;
    text-align: center;
    /*margin-top: 100px;*/
    /*margin-left: -15px;*/
    text-shadow: -1px 5px 5px rgba(0, 0, 0, 0.20);
}
.work-item{
	margin-bottom: 60px;
}
.work-item p{
	/*font-family: 'HelveticaNeue Medium';*/
	color: #102e44;
	font-size: 20px;
	letter-spacing: -0.3px;
}
.work-num{
	display: block;
	font-family: 'Nunito-ExtraBold';
	font-size: 23px;
	width: 63px;
	height: 63px;
	text-align: center;
	border-radius: 50%;
	background-color: #ffab32;
	color: white;
	border: 4px solid #e3e3e3;
	padding: 8px;
	margin-bottom: 20px;
}
@media (min-width:1200px){
    .work-title{
        margin-top: 120px;
    }
}